<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Get Started
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addQuotes()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <div class="page-logo-wrapper">
    <img class="page-logo" src="../../assets/img/logo/logo.png" alt="">
  </div>

  <div class="page-content-top">
    <h2>{{ pageTitle }}</h2>
  </div>

  <ion-item>
    <div>
      <img src="../../assets/img/site/home_remodel.jpg" alt="">
    </div>
    <div>New Project</div>
  </ion-item>

  <ion-item>
    <img src="../../assets/img/site/CCE-Home-Repair.jpg" alt="">
    <div id="overlay">
      <div id="overlay-text">Repair Project</div>
    </div>
  </ion-item>

<!--
  <ion-list no-lines>

    <ion-item-sliding *ngFor="let quote of quotes">

      <ion-item>

        <ion-avatar item-left>
          <img src="https://api.adorable.io/avatars/75/{{quote.title}}">
        </ion-avatar>

        <h2>{{quote.title}}</h2>
        <p>{{quote.description}}</p>

        <ion-icon *ngIf="quote.rating < 50" danger name="sad"></ion-icon>
        <ion-icon *ngIf="quote.rating >= 50" secondary name="happy"></ion-icon>
        {{quote.rating}}
      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="deletequote(quote)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>-->

</ion-content>
